/* Global Styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.alert {
  margin: 10px 0 5px 0;
}

/* User's Toolbar */
#user-toolbar {
  margin-top: 30px;
  text-align: right;
}

/* Groups Selector */
#group-selector {
  margin-top: 30px;
}
#group-selector select {
  margin: 0;
  width: 80%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 30px;
  line-height: 30px;
  color: #555555;
}

/* Set Language Styles */
#lang-select {
    margin-top: 12px;
    padding: 0;
}
#lang-select button {
    padding: 0;
}
.lang-select-form {
    display:inline-block;
}

/* Journal Table Styles */
td.day-box,
th.day-header {
  padding: 4px !important;
  vertical-align: middle !important;
  text-align: center;
}

#ajax-progress-indicator {
  display: none;
}

/* Footer Styles */
#footer {
  border-top: 1px solid #dddddd;
  padding-top: 10px;
}

/* Form Styles */
textarea,
select,
input {
  max-width: 300px;
}

#edit-profile-photo {
    margin-left: 20%;
}